<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span10 offset3">
      <center><p>La URL de <%=@user.pyme %> para solicitar creditos: <%=link_to user_credits_url(@user.id).to_s, user_credits_path(@user.id) %> </p></center>
    </div>

<center>
  <div class="span8 offset3">



&nbsp;
&nbsp;
&nbsp;

    <% if @user.credit_lines.any? %>
      <h3>Lineas de Credito </h3>
      <ol class="credit_lines">
        <%= render @credit_lines %>
      </ol>
      <%= will_paginate @credit_lines %>
    <% end %>
      <%= link_to "Nueva linea de credito", createcreditline_path, class: "btn btn-large btn-primary" %>
  </div>
</center>

&nbsp;
&nbsp;
&nbsp;


    <% if @user.credits.any? %>
    <center>
<table border=1>
    <tr>
    <th style="text-align:center;">Cedula</th>
    <th style="text-align:center;">Valor Credito</th>
    <th style="text-align:center;">Plazo</th>
    <th style="text-align:center;">Linea de Credito</th>
    <th style="text-align:center;">Estado</th>
    <th style="text-align:center;">Nivel de Riesgo</th>
    <th style="text-align:center;">Fecha creacion</th>
  </tr>
      <h3>Creditos solicitados por clientes (<%= @user.credits.count %>)</h3>
      <ol class="credits">
        <%= render @credits %>
      </ol>
      <%= will_paginate @credits %>
        </table>
    <% end %>


</div>

</div>
