<tr>
  <td style="text-align:left;"><%= fee.numero_cuota %> </td>
  <td style="text-align:left;"><%= fee.pago_intereses %></td>
  <td style="text-align:left;"><%= fee.amortizacion %></td>
  <td style="text-align:left;"><%= fee.valor_cuota %></td>
  <td style="text-align:left;"><%= fee.saldo_pendiente %></td>


</tr>
